<div class="schedule">
  <div class="background">
	  <header>
	     <h1>station name</h1>
	  </header>
  </div>
  <ul>
  	<li><%= link_to "Lindenwold" %></li>
  	<li><%= link_to "Ashland" %></li>
  	<li><%= link_to "Woodcrest" %></li>
  	<li><%= link_to "Haddonfield" %></li>
  </ul>

</div>