// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	margin: 0 0;
	padding: 0 0;

}

ul {
	text-align: center;
	display: inline;
}

ul li {
	float: left;
	margin: 0 0.01em;
	list-style: none;
}

ul li .direction{
	clear: both;
	float: left;
	width: 7.3em;
	background: #0cf;
	margin-left: 50px;
	list-style: none;
}

ul li a {
	clear: both;
	border-radius:0.5em;
	background: #0cf;
	height: 2em;
	font-size: 0.9em;
	line-height: 2em;
	float: left;
	width: 7.3em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #FFFF19;
	text-decoration: none;
	text-align: center;
}

ul li a:hover {
	text-decoration: underline;
}

ul li a:active {
	background: #0af;

}
.schedule {
	background: white;
	height: 50px;
	width: 100%;
	padding-top: 0;
}
h1 {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

p {
	clear: both;
}

.tooltip{
    position:absolute;
    display:none;
    background-color:#dedede;
    padding:5px;
    border:1px solid #fff;
    width:auto;
    height: auto;
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}